<div class="amazon-home">
  <div class="home-banner">
    <img src="assets/fondoAmazon.jpg" alt="Amazon Banner" />
  </div>
  <div class="home-cards">
    <div class="home-card">
      <h2>Electrónica</h2>
      <img
        alt="Electrónica"
        src="https://img.freepik.com/vector-premium/gadgets-digitales-electronica-moderna-conjunto-objetos-dibujos-animados-planos-aislados-graficos-dibujos-animados-planos-vectoriales_686727-42.jpg"
      />
      <a href="#">Ver más</a>
    </div>
    <div class="home-card">
      <h2>Libros</h2>
      <img
        src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/1460058_2528408_us_gw_pc_single_category_card_1x_379x304_us-en-379x304._SY304_CB794163668_.jpg"
        alt="Libros"
      />
      <a href="#">Ver más</a>
    </div>
    <div class="home-card">
      <h2>Hogar y Cocina</h2>
      <img
        src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2024/Stores-Gaming/FinalGraphics/Fuji_Gaming_store_Dashboard_card_1x_EN._SY304_CB564799420_.jpg"
        alt="Hogar y Cocina"
      />
      <a href="#">Ver más</a>
    </div>
    <div class="home-card">
      <h2>Juguetes</h2>
      <img
        src="https://img.freepik.com/vector-gratis/fondo-juguetes-navidad-dibujados-mano_23-2148750058.jpg?semt=ais_hybrid&w=740"
        alt="Juguetes"
      />
      <a href="#">Ver más</a>
    </div>
    <!-- Puedes agregar más tarjetas según lo necesites -->
  </div>
</div>

<app-product-list />
